* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size:16px;
    background-color: #E6EFF6;
    background-image: url('../images//bgimge.png');
}   


img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
