@media screen and  (max-width: 540px)  {
   .wrapper {
    max-width: 80%;
    margin:65px auto; 
    
   }
    #main {
        flex-direction: column;
        
        #left {
            width: 100%;
            border-radius: 0;
        }
        #right {
            width: 100%;
            border-radius: 0;
          
        }
    }
}