.wrapper {
    max-width: 50%;
    margin:65px auto;
    line-height: 1.8; 
    box-shadow: 0 0 50px #ccc;
    background-color: #ffffff;
    border-radius: 20px;
    font-family: 'DM Serif Display', serif;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}
